/**
 * @name Discord Ui Tweaks
 * @author Wolfÿ
 * @version 1.0.2
 * @description Just a collection of tweaks I created or which I collected that were made by others (I try to mention them in the repo!) that make Discord a little more enjoyable
 * @invite avia
 * @source https://github.com/MEWPASCO/rainbowglow-avatars
 * @website https://www.avariaxyz.win/
 */

/* === Collapse Icon Left (by sakgoyal) === */
._29444ba32c7fbeab-containerDefault > div {
  padding-left: 0.5em;
}
._29444ba32c7fbeab-containerDefault > div > div {
  display: flex;
  justify-content: start !important;
  flex-direction: row-reverse !important;
}

/* === Remove Profile Reactions (by LuSaffi) === */
._2d0abf0638bcaa3f-avatarPopover,
._2d0abf0638bcaa3f-statusPopover,
._2d0abf0638bcaa3f-activityPopover {
  display: none;
}

/* === Round Guild Icons in Folders (by NSPC911) === */
.f34534e8a5d3ca64-icon._48112cbe77dc5022-folderPreviewGuildIcon {
  border-radius: 50% !important;
}

/* === Unclamp User Bios (by myself) === */
.f5f93a5c4078d63c-descriptionClamp:not(.faa96b2163f6a142-headerText .f5f93a5c4078d63c-descriptionClamp) {
  -webkit-line-clamp: unset;
  max-height: 400px;
}
.f5f93a5c4078d63c-viewFullBio {
  display: none;
}

/* === Revert App-Tags to BOT (by hanyuko + tweak) === */
span[class*="botTag"]:not([class*="botTagAi"], [class*="botTagCozy"], [class*="botTagRemix"], [class*="botTagOP"]) span[class*="botText"] {
  visibility: hidden;
  position: relative;
}
span[class*="botTag"]:not([class*="botTagAi"], [class*="botTagCozy"], [class*="botTagRemix"], [class*="botTagOP"]) span[class*="botText"]::after {
  content: "BOT";
  visibility: visible;
  position: absolute;
  left: 0;
  font-size: 0.625rem;
}

/* === Revert User Area Panel Spacing (by Obsidianninja11) === */
.visual-refresh section._5e434347c823b592-panels {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs) * 2);
  box-sizing: content-box;
}
.visual-refresh .e131a99484292a19-actionButtons button {
  padding: 0;
}
nav._5e434347c823b592-guilds {
  margin-bottom: 0;
}
._5e434347c823b592-sidebar::after {
  display: none;
}

/* === Bot Forms (by nexpId) === */
form > div._49fc18ba07c5025f-focusLock > div._49fc18ba07c5025f-rootWithShadow {
  width: var(--modal-width-medium);
}
._49fc18ba07c5025f-rootWithShadow ._49fc18ba07c5025f-header {
  padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
  margin-bottom: var(--modal-vertical-padding);
  border-bottom: 1px solid var(--border-normal);
}
._49fc18ba07c5025f-header .colorHeaderPrimary_c9946a {
  text-align: center;
  font-weight: var(--font-weight-semibold);
  flex-grow: 1;
}
._49fc18ba07c5025f-header .closeButton_e858dd {
  top: unset;
  right: var(--modal-horizontal-padding);
  margin: auto 0;
}
.closeButton_e858dd ._201d5e8a3c09670a-contents {
  height: 24px;
}
.e858dd8956328358-submissionWarning {
  display: none;
}
._1b11bd49fe2d59c9-formItem .b717a15017b82443-eyebrow {
  margin-bottom: 4px;
}
.b717a15017b82443-errorMessage {
  color: var(--text-danger);
}
._0ed4fc708cdbac0d-input._0ed4fc708cdbac0d-error:focus {
  color: var(--text-normal);
}

/* === GIF Favorites Cleanup (by MadelineMaid) === */
[class*="gifFavoriteButton_"] {
  background-color: transparent;
}
[class*="result_"] [class*="favButton"] {
  right: unset;
}

/* === Remove Chatbox Icons (by Sessh) === */
/* to change, select one of the "button[aria-label="Select emoji"]" areas and change the text that's inside those " " */
/*
Select Emoji          - Emoji icon
Open sticker picker   - Sticker icon
Open GIF picker       - GIF icon
Send a gift           - Gift icon
Apps                  - Controller icon
*/
.visual-refresh button[aria-label="Select emoji"],
button[aria-label="Open GIF picker"],
button[aria-label="Send a gift"],
button[aria-label="Apps"] {
  display: none;
}
.visual-refresh ._740174f3d6a2c8fe-buttons {
  align-items: center;
  gap: 0.1px;
}

/* === Fullscreen emoji/sticker/gif modal === */
._59d0d7075b521375-layerContainer ._084343c4f11eaaab-positionLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

._084343c4f11eaaab-positionLayer ._084343c4f11eaaab-drawerSizingWrapper {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 90vw !important;
  height: 90vh;
}

/* === Bordered Embeds (by NSPC911) === */
:root {
  --wh-border-width: 4px;
  --wh-background-opacity: 0%;
  --wh-default-background: hsl(
    from var(--background-surface-high) h s l / 100%
  );
  --wh-always-show-suppress-embed-button: 0;
}

._623de82e76ad7f82-embedFull {
  overflow: hidden;
  border-left-width: 0px !important;
  padding-left: 4px;
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  ._623de82e76ad7f82-embedSuppressButton {
    /* fix for it not showing up */
    opacity: calc(1 * var(--wh-always-show-suppress-embed-button)) !important;
    top: var(--wh-border-width);
    right: var(--wh-border-width);
    z-index: 10;
    color: white;
  }
  &::before {
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    border: inherit;
    border-left-width: 100vw;
    box-sizing: border-box !important;
    z-index: 1;
    border-radius: 0px 8px 8px 0px;
  }

  &::after {
    content: "";
    position: absolute;
    background: hsl(
      from var(--background-surface-high) h s l /
        calc(100% - var(--wh-background-opacity))
    );
    border-radius: 8px;
    top: var(--wh-border-width);
    left: var(--wh-border-width);
    right: var(--wh-border-width);
    bottom: var(--wh-border-width);
    z-index: 2;
  }

  ._623de82e76ad7f82-gridContainer {
    z-index: 3;
  }
}
/* Fix for components v2 */
._60fa3b8f3ca9845f-withAccentColor::before {
  display: none;
}
._60fa3b8f3ca9845f-withAccentColor {
  background: color-mix(
    in oklch,
    hsl(from var(--background-surface-high) h s l / 100%),
    var(--__accent-color) var(--wh-background-opacity)
  );
  border: 4px solid var(--__accent-color);
}
